article(class="review")
    header
        h2 #{review.title}
        h3 A review of #{review.divesitename} By #{review.reviewer_name} on #{review.createdAt.getDate()}/#{review.createdAt.getMonth() +1}/#{review.createdAt.getFullYear()}

    p #{review.content}